
.titulos{
	text-align: center;
	font-family:"Arial";
	font-size:20px;
	color:white;
}

#contenedor{

	border-radius:20px;
	border:1px solid black;
	margin:40px auto;
	background-image: url("../imagenes/fondoRegistro2.jpg");
	background-size: 100%;
	width: 450px;

}


table{

	width: 400px;
	border:1px solid white;
	margin:0 auto;
	padding-top:5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-radius: 10px;
	
}

td{

	padding:5px;
	color:white;
	
}

.entradas{

	text-align: center;

}

.btncontrol{

	width:120px;
	font-size:16px;

}


#ima1{

	margin:10px auto;
	border:1px solid black;
	width:112px;
	height: 99px;
	margin-bottom:30px;
}

#pie{
	text-align: center;
}


form{
	text-align:center;
	
}

.botones{

	width:200px;
	height: 20px;
	margin:0 auto;
	padding-left: 5px;

}
.label{

	text-align: right;
}

