#general{

	background-color: #F9F1AD;
}
#contenedor{
	width: 800px;
	height:450px;
	margin:20px auto;
	border-radius:20px;
	

}
#titulos h1, h2{

	
	width:800px;
	margin:20px auto;
	padding: 0px;
}

h1{
	text-align:center;
	color:#AF951E;
	font-family:"Arial";
	font-size:30px;
}

h2{
	text-align: center;
	color:#AF951E;
	font-family:"Arial";
	font-size:25px;
}

#principal{

	/* propiedades del contenedor principal*/
	float: left;
	
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;

	background-image:url("../imagenes/fondoRegistro.jpg");
	background-repeat:round;
	background-size:100%;

	width: 300px;
	height:450px;

	
	
}

#secundario{
	float: right;
	width:500px;
	height:450px;
	border-bottom-left-radius:20px;
	border-top-left-radius:20px;
}

article #ima1{
	
	width:200px;
	margin:50px auto;
}

article #ima2{
	
	width:500px;
	height:450px;
	margin:0;

}

figure #imagen1{

	width:200px;
	margin:auto;
}

figure #imagen2{
	
	width:500px;
	height:450px;
	border-bottom-right-radius:20px;
	border-top-right-radius:20px;

}

#imagenNick{

	float:right;
	width:30px;
	height: 28px;


}

tr td #imagenPasswordNo{

	float:right;
	width:30px;
	height: 15px;
	margin-top:8px;

}

.tamanno{

	height:25px;
	font-size:16px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding-left: 5px;
	
}

.espacio{

	padding-left:32px;
}

#pie{
	display: block;
	
	width: 800px;
	height:50px;
	margin:0 auto;
	

}

#pie label{

	font-weight:bold;
	font-style:italic;
	font-size:12px;
	color:black;
	
	
}

#acceder{

	margin-left: 32px;

}

a{
	color:white;
}



