#principal{
	
background-color: #F9F1AD;

}

#titulos{

	width:280px;
	height:70px;
	margin:0 auto;
	color:#86BB06;
	margin-top:2px;
	
	
}

h1{
	font-size:30px;
	text-align:center;
	font-family: "Arial";
	color:#AF951E;
	
}

h2{
	font-size:25px;
	text-align:center;
	font-family: "Arial";
	color:#AF951E;
	
}

#contenedor{

	background-image:url(../imagenes/fondoRegistro4.jpg);
	background-repeat:round;
	background-size:100%;


	border:1px solid black;
	width:1240px;
	height:550px;
	margin:0 auto;
	
	border-radius:20px;

}

article{

	width:120px;
	height:100px;
	margin:10px auto;
	margin-bottom:15px;
	
}

article img{

	width:120px;
	height:100px;
	margin:0 auto;
	border-radius:10px;

}


input{
	margin-bottom:5px;
	width:200px;
	height:25px;
	font-size:16px;
	padding-left:5px;
	
}

.btngeneral{
	

	width:100px;
	height:30px;
	
	
	
}

#registro{
	float: none;
	text-align:center;
	height:390px;
	
}

table{
	display: inline;
	margin:0 auto;
	
	

	
}

td label{
	float:right;
	
}

td{

	padding-top:2px;
	padding-left:5px;
}

#tabla1{

	margin-right:5px;
	margin-left: 20px;
	width:400px;
	float: left;
	border:1px solid white;
	border-radius: 10px;
}

#tabla2{
float: left;
margin-left:15px;
border:1px solid white;
padding-right: 15px;
border-radius: 10px;

}

#table3{

	float: right;
	margin-right: 20px;
	border:1px solid white;
	padding-right: 15px;
	border-radius: 10px;
}

#pie{
	text-align: center;
	color:white;
}

#volver{

	font-size:16px;
	
}

#registrar{

	font-size:16px;
	
}

label{

	font-size:20px;
	color:white;
	
}

.terminos{

	width:20px;
	height:20px;
	margin-left:0;
	


}

#textoterminos{

	
	
	width:250px;
	
	
}

#btncheck{

	display:block;
	width:300px;
	margin:0 auto;
	
	
}

.titulosDatos{

	width:150px;
	margin-right:100px;
	margin-bottom: 10px;
	color:white;
	font-weight: bold;
}

.contenedortablas{

	height:300px;
}

#textoterminos{
	
}